:root {
    --black-color: #263238;
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --border-color: #E3E3E3;
    --price-colr: #6C6C6C;
    --place-holder-color: #8D8D8D;
    --transition-duration: .3s;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
/*Ссылка*/
.default-link {
    color: var(--black-color);
    text-decoration: underline;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.default-link:focus-visible {
    outline: none;
    background-color: var(--base-color);
}

.default-link:hover {
    color: var(--base-color-hover);
}

.default-link:active {
    color: var(--base-color-active);
}

/*Кнопка*/
.default-btn {
    display: inline-block;
    padding: 11px 47px;
    color: var(--black-color);
    border-radius: 12px;
    background-color: var(--base-color);
    border: none;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
    cursor: pointer;
}

.default-btn:focus-visible {
    outline-color: var(--base-color);;
}

.default-btn:hover {
    background-color: var(--base-color-hover);
}

.default-btn:active {
    background-color: var(--base-color-active);
}

/*Текстовое поле*/
.text-field {
    padding: 11px 16px 11px 16px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    transition: border-color var(--transition-duration);
    outline: none;
}

.text-field::placeholder {
    color: var(--place-holder-color);
}

.text-field:focus {
    border-color: var(--base-color);
}

/*Подзаголовок*/
.subtitle {
    margin: 0;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

/*Лого*/
.logo {
    display: block;
    width: 154px;
}

/*Меню*/
.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 50px;
    padding-left: 0;
}

.menu__link {
    color: white;
    outline: none;
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
}

.menu__link:focus-visible {
    outline: none;
    color: var(--black-color);
    background-color: var(--base-color);
}

.menu__link:hover {
    color: var(--base-color-hover);
}

.menu__link:active {
    color: var(--base-color-active);
}

/*Форма обратной связи*/
.callback-form {
    display: flex;
    gap: 16px;
}

.callback-form__inp {
    flex-basis: 288px;
}

/*Карточка товара*/
.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.product-card__img {
    display: block;
    flex-shrink: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.product-card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 15px;
}

.product-card__body-top {
    margin-bottom: 22px;
}

.product-card__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}
.product-card__btn {
    width: 100%;
}

.product-card__price {
    font-size: 18px;
    color: var(--price-colr);
    font-weight: 700;
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 15px;
}

@media (max-width: 740px) {
    /*Форма обратной связи*/
    .callback-form {
        flex-direction: column;
    }

    .callback-form__inp {
        flex-basis: initial;
    }

    /*Карточка товара*/
    .product-card__img {
        height: 90px;
    }

    .product-card__body {
        padding: 10px;
    }

    .product-card__body-top {
        margin-bottom: 22px;
    }

    .product-card__title {
        font-size: 14px;
    }

    .product-card__price {
        font-size: 14px;
    }
}