:root {
    --black-color: #263238;
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --border-color: #E3E3E3;
    --place-holder-color: #8D8D8D;
    --transition-duration: .3s;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
/*Ссылка*/
.default-link {
    color: var(--black-color);
    text-decoration: underline;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

.default-link:focus-visible {
    outline: none;
    background-color: var(--base-color);
}

.default-link:hover {
    color: var(--base-color-hover);
}

.default-link:active {
    color: var(--base-color-active);
}

/*Кнопка*/
.default-btn {
    display: inline-block;
    padding: 11px 47px;
    color: var(--black-color);
    border-radius: 12px;
    background-color: var(--base-color);
    border: none;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
    cursor: pointer;
}

.default-btn:focus-visible {
    outline-color: var(--base-color);;
}

.default-btn:hover {
    background-color: var(--base-color-hover);
}

.default-btn:active {
    background-color: var(--base-color-active);
}

/*Текстовое поле*/
.text-field {
    padding: 11px 47px 11px 16px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    transition: border-color var(--transition-duration);
    outline: none;
}

.text-field::placeholder {
    color: var(--place-holder-color);
}

.text-field:focus {
    border-color: var(--base-color);
}

/*Подзаголовок*/
.subtitle {
    margin: 0;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

/*Лого*/
.logo {
    width: 154px;
}
.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 40px 15px;
}

@media (max-width: 740px) {

}